<!DOCTYPE html>
<html>
<head>
  <title>Zomato Clone</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/styles/zomato-home.css">
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <section class="row">
    <div class="col s12 center heading-container">
      <h4><span class="highlight">Best</span> restaurants in your city</h4>
    </div>

    <div class="col s12">
      <div class="input-field col s5 offset-s3">
        <input id="cityName" type="text">
        <label for="cityName">City Name</label>
      </div>
      <div class="input-field col s3">
        <button id="btn-search-city">Search</button>
      </div>
    </div>
  </section>

  <script src="/js/zomato-home.js"></script>
</body>
</html>
